/* CSS reset */
html, body, div, span, h1, h2, pre, a, img, ol, ul, li, section, footer, .resultAndPool {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing:antialiased
}

nav {
    position: fixed;
    width: 100%;
    height: 4em;
    background-color: #fff;
    top:0;
    color:#8a91a8;
}

nav ul{
    position: absolute;
}

nav ul {
    right: 10%;
    font-size: 1em;
    font-weight: 500;
    line-height: 4em;
    text-transform: uppercase
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    color: #515769;
    transition: color 2s
}

nav li:hover {
    color: red;
    cursor: pointer;
    position: relative;
}

nav li:hover::before {
    content: "-";
    position: absolute;
    left:-10px;
}

a {
    color: #515769;
    text-decoration: none;
    transition: color 2s
}

a:hover {
    color: red
}

section {
    height: 100vh;
    padding: 2% 5%;
}

section:first-of-type {
    padding-top: 45vh;
}

section:nth-child(even){
    background-color: #f8f8f8
}


section.aboutMe {
    background-color: #fff
}
section.intro {
    background-color: #f8f8f8;
    background-image: linear-gradient(-30deg, #8acee9 10%, transparent 10%);
}

section.intro h1{
    font-size: 3em;
    font-weight: 700;
    line-height: 1
}

section.intro .shortIntro {
    position: relative;
    font-size: 1.5em;
    padding-bottom: 1em;
}

section.intro .shortIntro::after {
    content : "";
    position: absolute;
    left:0;
    bottom:0;
    height  : 1px;
    width: 40%;
    border-bottom: 1px solid black
}

.externalLinks {
    font-size: 2em
}

.hide {
    font-size: 0;
}

.externalLinks a{
    text-decoration: none;
    color: black;
    transition: color 2s;
}

.externalLinks a:hover{
    color: red
}

.externalLinks .fab{
    margin-right: 0.2em;
}

.subHead {
    font-size: 1.2em;
    font-weight: 600;
    display: block;
}
.tag, .tag2 {
    display: block;
    color: #586069;
    transition: color 2s;
}

.tag2:hover {
    color: red
}

.left, .right {
    vertical-align: middle;
    line-height: 2em;
    display: grid;
    height: 100vh;
    margin: 0;
    /* justify-items: center; */
    align-content: center
}

.left {
    /* display: inline-block; */
    width: 20%;
    text-align: center;
    float: left;
}

.right {
    /* display: inline-block; */
    text-align: left;
    margin-left:10%;
    width: 70%;
    float: right;
}

.projectIntro {
    margin-bottom: 1em;
}

.projectDetail img {
    max-width: 80vw;
    max-height: 55vh;
}

.hide {
    display: none
}