@media only screen and (max-width: 1024px) {
    section {
        height: unset;
        /* margin-bottom: 20px; */
        padding: 2% 5%;
        /* min-height: 100vh */
    }
    .left, .right {
        width: 100%;
        float: none;
        height: auto;
        justify-items: center
    }
    .right {
        margin-left: 0;
    }
    nav {
        position: absolute;
    }
    #home {
        display: none
    }
    section:first-of-type {
        padding-top: 35vh;
        height: 100vh;
    }
    .projectDetail img {
        max-width: 70vw;
        max-height: 45vh;
    }

}
@media only screen and (max-width: 460px) {
    nav ul  {
        right: unset;
        position: relative;
        text-align: center;
    }
    nav ul li {
        margin-left: 15px;
    }
}